{% extends "base.html"  %}

{% block body %}
  <!-- !>
  /*************************************************************************/
  Begin slideshow
  /*************************************************************************/
  <! -->

  <div class="slideshow-wrapper preloader">

  <!-- !>
  /*************************************************************************/
  Slideshow Content
  /*************************************************************************/
  <! -->

    <div class="slideshow-content">

      <div class="wrapper-slideshow content-block">

        <div data-image="slideshow-1" >

          <h4>Work on the things that matter, Outsource the rest.</h4>
          <p>Time is your most valuable resource it must be invested on the things that really matters. We help You allocate Your time on things that are critical to the performance of your company, We do the rest...</p>
          <br>
          <!--<p><img src="{{ url_for('static',filename='img/dummny/slideshow/content-1.png')}}"></p>-->
          <p><a class="link-2" href="#">Learn more</a></p>

        </div>

        <div data-image="slideshow-2" class="text-white">
          <h4>Website management and articles creation</h4>
          <p>We can manage Your website and create the content that meets your criteria, making sure you have engaged customers.</p>
          <br>
          <p><a class="link-2" href="#" target="_blank">Learn More</a></p>
        </div>



        <div data-image="slideshow-3" class="text-white">
          <h4>Data Entry</h4>
          <p>Why to lose all that time writing down all that info when you can be doing something else.<br><br>
          Our assistants provide data entry service for any kind of document you need.</p>
          <br>
          <p><a class="link-2" href="#">Learn more</a></p>

        </div>

        <div data-image="slideshow-4" class="text-white">
          <h4>Social Media for Your company</h4>
          <p>Social Media is one of the main channels of communication with your customers, is the new customer service. With our  assistance we can help you get to the next level.<br></p>
          <br>
          <p><a class="link-2" href="#">Read more</a></p>

        </div>

        <div data-image="slideshow-5" class="text-white">
          <h4>Research, report and analysis.</h4>
          <p>You can use our team of well trained assistans to search for all the info You need. Making sure you have enough information for papers, presentations and Your next meeting.x</p>
          <br>
          <p><a class="link-2" href="#">Learn more</a></p>

        </div>



      </div>

      <!-- !>
      /*************************************************************************/
      SlideShow Content images and background images
      /*************************************************************************/
      <! -->

      <div class="wrapper-slideshow img">

        <div class="outside" data-content="slideshow-1" data-backgroundimage="{{ url_for('static',filename='img/dummny/slideshow/bg-1.jpg')}}">
          <img src="{{ url_for('static',filename='img/dummny/slideshow/binders-72926566.png')}}" height="448">
        </div>

        <div class="outside" data-content="slideshow-2" data-backgroundcolor="#9dc500">
          <img src="{{ url_for('static',filename='img/dummny/slideshow/slide_5.png')}}" height="425">
        </div>

        <div class="outside" data-content="slideshow-3" data-backgroundcolor="#fc2e30">
          <img src="{{ url_for('static',filename='img/dummny/slideshow/slide_3.png')}}" height="478">
        </div>

        <div class="outside" data-content="slideshow-4" data-backgroundcolor="#47B400">
          <img src="{{ url_for('static',filename='img/dummny/slideshow/Share_page.png')}}" height="448">
        </div>

        <div class="" data-content="slideshow-5" data-backgroundcolor="#8E007D" data-backgroundimage="{{ url_for('static',filename='img/dummny/slideshow/bg-2.jpg')}}">
          <img src="{{ url_for('static',filename='img/dummny/slideshow/slide_2.png')}}" height="448">
        </div>



      </div>

    </div>

  </div>
  <!-- !>
  /*************************************************************************/
  End slideshow
  /*************************************************************************/
  <! -->





  <!-- !>
  /*************************************************************************/
  Begin main content
  /*************************************************************************/
  <! -->
  <div role="main" class="main">

    <!-- !>
    /*************************************************************************/
    Quote text
    /*************************************************************************/
    <! -->
    <blockquote class="quote">
      <p>We help bold, forward-looking organizations and individuals do meaningful work.</p>
      <span class="text-1">We've collaborated alongside some of the individuals changing industries, creating markets and seeing oportunities. Making sure they attain their maximun potential.</span>
    </blockquote>

    <a>request Your invite</a>
    <!-- !>
    /*************************************************************************/
    Begin blog post
    /*************************************************************************/
    <! -->

    <!-- !>
    /*************************************************************************/
    Begin recent work
    /*************************************************************************/
    <! -->
      <div class="inner-content">

        <h2>Our Assistants have been making our customers happy for a while, here are a few examples how they are using our services...</h2>
        <div class="clearfix"></div>


      </div>

      <section class="grid clearfix portfolio">



          <!-- !>
          /*************************************************************************/
          Begin work element
          /*************************************************************************/
          <! -->

          <!-- !>
          <! -->
          <article class="grid-3-2 slider ">

            <div class="TB_Wrapper slider-folio no-slide">
              <div class="Slides">

                <div class="Slide"><a href="http://www.propertyinnovationsummit.com"><img src="{{ url_for('static',filename='img/dummny/b_01.jpg')}}" alt="Histórias Felizes para Comer" /></a></div>

              </div><!--End of Slides -->
            </div><!--End of TB_Wrapper -->


            <div class="desc">

              <!-- work title-->
              <h4><a href="http://www.propertyinnovationsummit.com/">Property Innovation Summit</a></h4>

              <!-- type of work -->
              <p class="text-4">&mdash; Data Entry and research</p>
            </div>

          </article>
          <!-- !>

          <! -->
          <article class="grid-3-2 slider ">

            <div class="TB_Wrapper slider-folio no-slide">
              <div class="Slides">

                <div class="Slide"><a href="http://www.abcinmobiliario.net/"><img src="{{ url_for('static', filename='img/dummny/c_01.jpg')}}" alt="Abc Inmobiliario" /></a></div>

              </div><!--End of Slides -->
            </div><!--End of TB_Wrapper -->


            <div class="desc">

              <!-- work title-->
              <h4><a href="http://www.abcinmobiliario.net/">Abc Inmobiliario</a></h4>

              <!-- type of work -->
              <p class="text-4">&mdash; Blogging/Copy Writting</p>
            </div>

          </article>
          <!-- !>

          <! -->
          <article class="grid-3-2 slider ">

            <div class="TB_Wrapper slider-folio no-slide">
              <div class="Slides">

                <div class="Slide"><img src="{{ url_for('static',filename='img/dummny/m_01.jpg')}}" alt="Fryxx Charger" /></div>

              </div><!--End of Slides -->
            </div><!--End of TB_Wrapper -->


            <div class="desc">

              <!-- work title-->
              <h4><a href="#">Fryxx Mobile Charger</a></h4>

              <!-- type of work -->
              <p class="text-4">&mdash; Supply Chain Research and Coordination</p>
            </div>

          </article>
          <article class="grid-3-2 slider">

            <div class="TB_Wrapper slider-folio no-slide">
              <div class="Slides">

                <div class="Slide"><img src="{{ url_for('static',filename='img/dummny/a_01.jpg')}}" alt="TempoMobili" /></div>
              </div><!--End of Slides -->
            </div><!--End of TB_Wrapper -->


            <div class="desc">

              <!-- work title-->
              <h4><a href="#">Tempo Mobili</a></h4>

              <!-- type of work -->
              <p class="text-4">&mdash; Website</p>
            </div>

          </article>

          <!-- !>

          <! -->
          <!-- !>



          /*************************************************************************/
          End work element
          /*************************************************************************/
          <! -->


      </section>
    <!-- !>
    /*************************************************************************/
    End recent work
    /*************************************************************************/
    <! -->


    <div class="clearfix"></div>

    <hr class="mt-30">

    <!-- !>
    /*************************************************************************/
    Begin clients
    /*************************************************************************/
    <! -->
    <section class="inner-content">

      <!-- clients title -->
      <h3>Our Clients</h3>

      <!-- clients text -->
      <p class="text-1 left margin-0">
        We've collaborated alongside some of the most incredible individuals you can ever meet. Lucky us.
      </p>

      <!-- more clients link -->
      <p class="right margin-0 our-clients"><a href="" class="text-5">View Our Clients</a></p>

      <div class="clearfix"></div>

      <!-- Begin clients list -->
      <ul class="grid-6 clearfix client-list">
        <li><a href="http://www.enservio.com/"><img src="{{ url_for('static',filename='img/dummny/cliente_01.jpg')}}" alt="Enservio"></a></li>
        <li><a href="#"><img src="{{ url_for('static',filename='img/dummny/cliente_02.jpg')}}" alt="Sony"></a></li>
        <li><a href="http://stancedata.com/"><img src="{{ url_for('static', filename='img/dummny/cliente_03.jpg')}}" alt="Stance Data"></a></li>
        <li><a href="#"><img src="{{ url_for('static',filename='img/dummny/cliente_04.jpg')}}" alt="Mtv"></a></li>
        <li><a href="http://rit.do/"><img src="{{ url_for('static',filename='img/dummny/rit_cliente_01.jpg')}}" alt="RIT"></a></li>
        <li><a href="http://chinachin.com/"><img src="{{ url_for('static',filename='img/dummny/cliente_06.jpg')}}" alt="chinachin"></a></li>
      </ul>
      <!-- End clients list -->

    </section>
    <!-- !>
    /*************************************************************************/
    End clients
    /*************************************************************************/
    <! -->

    <hr class="margin-60">

    <!-- !>
    /*************************************************************************/
    Begin services
    /*************************************************************************/
    <! -->
    <section class="inner-content">

      <div class="grid-desc-2">

        <!-- services title -->
        <h3>By Entrepreneurs for Entreprenurial people.</h3>

        <!-- services text -->
        <p class="text-1 mb-25">
          We have been trained in the field, making things happen and we want you to have success and create real value wherever you are.
        </p>

        <!-- services link -->
        <p><a href="" class="text-5">Read More</a></p>
      </div>

      <!-- !>
      /*************************************************************************/
      Begin services list
      /*************************************************************************/
      <! -->
      <ul class="services-list clearfix margin">
        <li>
          <a href="#" class="decoration-none">

            <!-- service icon -->
            <i class="icon-cog"></i>

            <!-- service title -->
            <h4>Strategy</h4>

            <!-- service text -->
            <p class="text-1">We take part of the parts of your business that support your strategy, letting space and time for you to focus on what is important.</p>
          </a>
        </li>

        <li>
          <a href="#" class="decoration-none">
            <i class="icon-cloud"></i>
            <h4>We're in the cloud</h4>
            <p class="text-1">What means We are available when you need us, as many persons as you need and with the quality that will make your work better.</p>
          </a>
        </li>

        <li>
          <a href="#" class="decoration-none">
            <i class="icon-heart"></i>
            <h4>We love to work with people</h4>
            <p class="text-1">We are a people's driven organization, we live to make people's live better and more enjoyable.</p>
          </a>
        </li>

        <li>
          <a href="#" class="decoration-none">
            <i class="icon-lock"></i>
            <h4>Privacy is the Key</h4>
            <p class="text-1">You can be confident that the information is professionaly handled.</p>
          </a>
        </li>
      </ul>
      <!-- !>
      /*************************************************************************/
      End services list
      /*************************************************************************/
      <! -->

    </section>
    <!-- !>
    /*************************************************************************/
    End services
    /*************************************************************************/
    <! -->


    <div class="clearfix"></div>












  </div>
  <!-- !>
  /*************************************************************************/
  End main content
  /*************************************************************************/
  <! -->

  {% endblock %}
